<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cn.bdqn.sm.dao.provider.ProviderMapper">
 	<select id="getProviders" resultType="Provider">
 		SELECT*FROM smbms_provider;
 	</select>
 	<select id="getProviderById" resultType="Provider" parameterType="Integer">
 		SELECT*FROM smbms_provider WHERE id=#{id};
 	</select>
 	<insert id="providerAdd" parameterType="Provider">
 		INSERT INTO smbms_provider(proCode,proName,proContact,proPhone,proAddress,proFax,proDesc)
		VALUES (#{proCode},#{proName},#{proContact},#{proPhone},#{proAddress},#{proFax},#{proDesc});
 	</insert>
 	<delete id="delProvider" parameterType="Integer">
 		DELETE FROM smbms_provider WHERE id=#{id};
 	</delete>
 	<update id="updateProvider" parameterType="Provider">
 	UPDATE smbms_provider 
 	<set> <if test="proCode!=null">
 	proCode=#{proCode},
 	</if><if test="proName!=null">
 	proName=#{proName},
 	</if><if test="proContact!=null">
 	proContact=#{proContact},
 	</if><if test="proPhone!=null">
 	proPhone=#{proPhone},
 	</if><if test="proAddress!=null">
 	proAddress=#{proAddress},
 	</if><if test="proFax!=null">
 	proFax=#{proFax},
 	</if><if test="proDesc!=null">
 	proDesc=#{proDesc}
 	</if></set>
	WHERE id=#{id}
 	</update>
 </mapper>
